__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
.coverage
.venv/
.idea/
.vscode/
dist/
build/
*.egg-info/
*.whl
.tox/
htmlcov/
data/
*.db
*.wav
*.mp3
*.ogg
.env
LOCK*.txt
_reports/internal-business/
.ruff_cache/
.mypy_cache/
*.sync-conflict-*
*.conflict
*-CONFLIT-*
*.tmp
